<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzr.rendisk.mapper.FileSystemMapper">
  <!-- 通用查询映射结果 -->
  <resultMap id="FileResultMap" type="com.wzr.rendisk.entity.FileInfo">
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="file_name" property="fileName" />
    <result column="virtual_path" property="virtualPath" />
    <result column="real_path" property="realPath" />
    <result column="file_size" property="fileSize" />
    <result column="user_id" property="userId" />
    <result column="nickname" property="nickname" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <resultMap id="FolderResultMap" type="com.wzr.rendisk.entity.FolderInfo">
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="folder_name" property="folderName" />
    <result column="real_path" property="realPath" />
    <result column="virtual_path" property="virtualPath" />
    <result column="user_id" property="userId" />
    <result column="nickname" property="nickname" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  
  <insert id="insertFolder" parameterType="com.wzr.rendisk.entity.FolderInfo">
    INSERT INTO `t_folder`
      (`parent_id`, `folder_name`, `virtual_path`, `real_path`, `user_id`)
    VALUES
      ( #{parentId}, #{folderName}, #{virtualPath}, #{realPath}, #{userId})
  </insert>
  
  <insert id="insertFile">
    INSERT INTO `t_file`
    (`id`, `parent_id`, `file_name`, `real_path`, `virtual_path`, `file_size`, `user_id`)
    VALUES
    (#{id}, #{parentId}, #{fileName}, #{realPath}, #{virtualPath}, #{fileSize}, #{userId} )
  </insert>
  
  <delete id="deleteFileByPath">
    DELETE FROM `t_file`
    WHERE `user_id` = #{userId} AND `virtual_path` = #{virtualPath}
  </delete>
  
  <delete id="deleteChildFolder">
    DELETE FROM `t_folder` WHERE `user_id` = #{userId}
    AND (`virtual_path` like concat(#{virtualPath}, '/%') OR `virtual_path` = #{virtualPath})
  </delete>
  
  <delete id="deleteChildFile">
    DELETE FROM `t_file` WHERE `user_id` = #{userId}
    AND `virtual_path` like concat(#{virtualPath}, '/%')
  </delete>

  <select id="getFolderIdByPath" resultType="java.lang.Long">
    SELECT `id` FROM `t_folder`
    WHERE `user_id` = #{userId} AND `virtual_path` = #{virtualPath}
  </select>
  
  <select id="getFolderListById" resultMap="FolderResultMap">
    SELECT f.`folder_name`, f.`virtual_path`, u.`nickname`, f.`create_time`, f.`update_time`
    FROM `t_folder` AS f
           LEFT JOIN `t_user` AS u ON u.`id` = f.`user_id`
    WHERE f.`user_id` = #{userId} AND f.`parent_id` = #{parentId};
  </select>
  
  <select id="getFileListById" resultMap="FileResultMap">
    SELECT f.`file_name`, f.`virtual_path`, f.`file_size`, u.`nickname`, f.`create_time`, f.`update_time`
    FROM `t_file` AS f
           LEFT JOIN `t_user` AS u ON u.`id` = f.`user_id`
    WHERE f.`user_id` = #{userId} AND f.`parent_id` = #{parentId};
  </select>
  
  <select id="queryVirtPathExist" resultType="java.lang.Object">
    SELECT * FROM
    <choose>
      <when test="type == @com.wzr.rendisk.core.constant.FileSysConstant@FOLDER_TYPE">
        `t_folder`
      </when>
      <otherwise>`t_file`</otherwise>
    </choose>
    WHERE `user_id` = #{userId} AND `virtual_path` = #{virtualPath}
  </select>
  
  <select id="getFileInfoByPath" resultMap="FileResultMap">
    SELECT `file_name`, `virtual_path`, `file_size`, `create_time`, `update_time` FROM `t_file`
    WHERE `user_id` = #{userId} AND `virtual_path` = #{virtualPath}
  </select>


</mapper>